{:kotoba.app/id "cloud.itonami.isic-9523", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreih22y57kpbkg4nmiy2pfhkr4cmpsspbt53dyyf3qyfqrvtyrv7xja", :kotoba.app/embed-url "ipfs://bafkreih22y57kpbkg4nmiy2pfhkr4cmpsspbt53dyyf3qyfqrvtyrv7xja", :published {:archive "https://kotobase.net/ipfs/bafkreih22y57kpbkg4nmiy2pfhkr4cmpsspbt53dyyf3qyfqrvtyrv7xja", :size 78300, :put-status 201, :get-status 200, :at "2026-08-15T13:42:20.338Z"}}
